Repository NVIDIA/thrust, pull requests merged in 2020-08, with the labels that each got.

#1225 Make async algos require C++14, remove SFINAE context from entry points.
  cmake/header_test.in
  internal/build/warningstester_create_uber_header.py
  testing/async_copy.cu
  testing/async_for_each.cu
  testing/async_reduce.cu
  testing/async_reduce_into.cu
  testing/async_sort.cu
  testing/async_transform.cu
  thrust/async/copy.h
  thrust/async/for_each.h
  thrust/async/reduce.h
  thrust/async/sort.h
  thrust/async/transform.h
  thrust/detail/cpp14_required.h
  thrust/system/cuda/detail/async/copy.h
  thrust/system/cuda/detail/async/customization.h
  thrust/system/cuda/detail/async/for_each.h
  thrust/system/cuda/detail/async/reduce.h
  thrust/system/cuda/detail/async/sort.h
  thrust/system/cuda/detail/async/transform.h
Labels: multiconfig: passed, testing: in progress

#1253 Restore some THRUST_DECLTYPE_RETURNS macros in async test implementations
  testing/async_reduce.cu
  testing/async_reduce_into.cu
  testing/async_transform.cu
Labels: multiconfig: passed, testing: passed

#1248 Allow thrust to be added to CMake projects via add_subdirectory.
  CMakeLists.txt
  cmake/ThrustAddSubdir.cmake
  examples/CMakeLists.txt
  examples/cmake/CMakeLists.txt
  examples/cmake/add_subdir/CMakeLists.txt
  examples/cmake/add_subdir/dummy.cpp
  examples/cmake/add_subdir/dummy.cu
Labels: cmake, multiconfig: passed, testing: passed

#1249 Use std::iota in CUDATestDriver::target_devices
  testing/unittest/cuda/testframework.cu
Labels: multiconfig: passed, testing: passed

#1255 reduce cudaDeviceSynchronize calls
  thrust/system/cuda/detail/par.h
  thrust/system/cuda/detail/util.h
Labels: multiconfig: passed, testing: passed

#1264 Evaluate CUDA_CUB_RET_IF_FAIL macro argument only once
  thrust/system/cuda/detail/core/util.h
Labels: multiconfig: passed, testing: passed

#1237 Use transparent functors in placeholder expressions.
  testing/find.cu
  testing/inner_product.cu
  thrust/detail/functional/actor.h
  thrust/detail/functional/actor.inl
  thrust/detail/functional/operators/arithmetic_operators.h
  thrust/detail/functional/operators/assignment_operator.h
  thrust/detail/functional/operators/bitwise_operators.h
  thrust/detail/functional/operators/compound_assignment_operators.h
  thrust/detail/functional/operators/logical_operators.h
  thrust/detail/functional/operators/operator_adaptors.h
  thrust/detail/functional/operators/relational_operators.h
Labels: testing: passed
