Repository NVIDIA/thrust, pull requests merged in 2020-11, with the labels that each got.

#1320 Uses feature-testing for remove_cvref
  thrust/type_traits/remove_cvref.h
Labels: testing: dvs passed, testing: mc passed

#1326 Work around execution space warning on GCC 10.
  thrust/system/cuda/detail/future.inl
Labels: testing: dvs passed, testing: mc passed

#1329 cross_system_copy_n: Dont attempt a copy if we're tyring to copy 0 elements
  testing/vector.cu
  thrust/system/cuda/detail/internal/copy_cross_system.h
Labels: testing: dvs passed, testing: mc passed

#1338 Fix type is_pod trait for GCC 10.2.
  thrust/detail/type_traits.h
Labels: testing: dvs passed, testing: mc passed

#1337 Fix regression in transform_inclusive_scan.
  testing/transform_scan.cu
  thrust/system/cuda/detail/transform_scan.h
  thrust/system/detail/generic/transform_scan.inl
Labels: testing: dvs passed, testing: mc passed

#1309 Improve shuffle quality
  testing/shuffle.cu
  thrust/system/detail/generic/shuffle.inl
Labels: enhancement, testing: dvs passed, testing: mc passed

#1340 Nudge feta hacks back into to working condition.
  cmake/ThrustCompilerHacks.cmake
Labels: P0, cmake, needed by nvc++
