Repository NVIDIA/thrust, pull requests merged in 2020-10, with the labels that each got.

#1289 Partial fixes for Clang 10 as host / cxx compiler.
  testing/memory.cu
  thrust/random/detail/normal_distribution_base.h
  thrust/system/tbb/detail/merge.inl
  thrust/system/tbb/detail/reduce.inl
Labels: testing: dvs passed, testing: mc passed

#1303 Add instructions for enabling new releases on Compiler Explorer.
  CONTRIBUTING.md
Labels: docs only

#1306 Fix binary search middle calculation to avoid overflows
  thrust/system/detail/generic/scalar/binary_search.inl
Labels: testing: dvs passed, testing: mc passed

#1300 cmake: print status message if Thrust is found
  thrust/cmake/thrust-config.cmake
Labels: cmake

#1298 cmake: relax package compatibility constraints
  thrust/cmake/thrust-config-version.cmake
Labels: blocked, cmake

#1297 cmake: option to install thrust when used via add_subdirectory()
  CMakeLists.txt
  CONTRIBUTING.md
Labels: blocked, cmake

#1314 defines thrust::tuple_element consistently with std::tuple_element
  thrust/detail/tuple.inl
  thrust/pair.h
  thrust/tuple.h
Labels: testing: dvs passed, testing: mc passed

#1312 Variadic make zip iterator
  thrust/iterator/detail/zip_iterator.inl
  thrust/iterator/zip_iterator.h
Labels: testing: dvs passed, testing: mc passed
