Repository NVIDIA/thrust, pull requests merged in 2021-11, with the labels that each got.

#1558 Optimize merge sort compilation time for C++ < 17
  thrust/system/cuda/detail/sort.h
Labels: testing: gpuCI passed, testing: internal ci passed

#1554 Add wrapper header and check for `numeric` for nvhpc stdpar.
  testing/cmake/check_source_files.cmake
  thrust/detail/numeric_wrapper.h
Labels: enhancement, P1: should have, testing: gpuCI in progress, only: gpuci, helps: nvc++

#1560 Build bench.cu from CMake.
  CMakeLists.txt
  ci/common/build.bash
  internal/benchmark/CMakeLists.txt
Labels: enhancement, P0: must have, only: cmake, testing: gpuCI in progress, only: gpuci

#1561 Print 20 slowest build steps in gpuCI output.
  ci/common/build.bash
Labels: enhancement, P2: nice to have, testing: gpuCI in progress, only: gpuci

#1570 Add THRUST_PRAGMA_OMP.
  testing/sequence.cu
  thrust/system/omp/detail/for_each.inl
  thrust/system/omp/detail/pragma_omp.h
  thrust/system/omp/detail/reduce_intervals.inl
  thrust/system/omp/detail/sort.inl
Labels: enhancement, P0: must have, testing: internal ci in progress, testing: gpuCI in progress, helps: nvc++
