Repository NVIDIA/thrust, pull requests merged in 2021-04, with the labels that each got.

#1232 Avoid "statement is unreachable" compile errors in async_reduce.cu test
  testing/async_reduce.cu
Labels: P1, compiler: nvc++, nvc++ flyspray, testing: internal ci passed

#1399 Disable unittest_state_assert on NVC++.
  testing/unittest_static_assert.cmake
Labels: P1, compiler: nvc++, nvc++ flyspray, only: cmake, only: gpuci

#1405 Updating doc links to cppreference.com
  thrust/adjacent_difference.h
  thrust/advance.h
  thrust/binary_search.h
  thrust/copy.h
  thrust/count.h
  thrust/detail/vector_base.h
  thrust/device_malloc_allocator.h
  thrust/device_new_allocator.h
  thrust/device_vector.h
  thrust/distance.h
  thrust/equal.h
  thrust/extrema.h
  thrust/fill.h
  thrust/find.h
  thrust/for_each.h
  thrust/functional.h
  thrust/gather.h
  thrust/generate.h
  thrust/host_vector.h
  thrust/inner_product.h
  thrust/iterator/iterator_categories.h
  thrust/logical.h
  thrust/merge.h
  thrust/mismatch.h
  thrust/optional.h
  thrust/pair.h
  thrust/partition.h
  thrust/reduce.h
  thrust/remove.h
  thrust/replace.h
  thrust/reverse.h
  thrust/scan.h
  thrust/scatter.h
  thrust/sequence.h
  thrust/set_operations.h
  thrust/shuffle.h
  thrust/sort.h
  thrust/swap.h
  thrust/system/cuda/experimental/pinned_allocator.h
  thrust/tabulate.h
  thrust/transform.h
  thrust/transform_reduce.h
  thrust/transform_scan.h
  thrust/uninitialized_copy.h
  thrust/uninitialized_fill.h
  thrust/unique.h
Labels: P1, only: docs
