Repository NVIDIA/thrust, pull requests merged in 2021-12, with the labels that each got.

#1573 s/__NVCOMPILER_CUDA__/_NVHPC_CUDA/g
  testing/unittest/system.h
  thrust/detail/allocator/temporary_allocator.inl
  thrust/detail/complex/c99math.h
  thrust/detail/config/compiler.h
  thrust/detail/config/cpp_compatibility.h
  thrust/detail/config/exec_check_disable.h
  thrust/detail/config/forceinline.h
  thrust/random/detail/normal_distribution_base.h
  thrust/system/cuda/config.h
  thrust/system/cuda/detail/core/agent_launcher.h
  thrust/system/cuda/detail/core/triple_chevron_launch.h
  thrust/system/cuda/detail/core/util.h
  thrust/system/cuda/detail/get_value.h
Labels: enhancement, P1: should have, testing: gpuCI passed, testing: internal ci in progress, compiler: nvc++, helps: nvc++

#1572 Reduce header bloat
  thrust/system/cuda/detail/binary_search.h
  thrust/system/cuda/execution_policy.h
Labels: enhancement, P1: should have, testing: internal ci in progress, testing: gpuCI in progress, release: breaking change

#1568 Add execution policy `thrust::cuda::par_nosync`
  testing/cuda/copy_if.cu
  testing/cuda/max_element.cu
  testing/cuda/partition.cu
  testing/cuda/reduce.cu
  testing/cuda/reduce_by_key.cu
  testing/cuda/set_intersection.cu
  testing/cuda/set_intersection_by_key.cu
  testing/cuda/unique.cu
  testing/cuda/unique_by_key.cu
  thrust/system/cuda/detail/adjacent_difference.h
  thrust/system/cuda/detail/fill.h
  thrust/system/cuda/detail/for_each.h
  thrust/system/cuda/detail/merge.h
  thrust/system/cuda/detail/par.h
  thrust/system/cuda/detail/reduce.h
  thrust/system/cuda/detail/scan.h
  thrust/system/cuda/detail/scan_by_key.h
  thrust/system/cuda/detail/sort.h
  thrust/system/cuda/detail/swap_ranges.h
  thrust/system/cuda/detail/tabulate.h
  thrust/system/cuda/detail/transform.h
  thrust/system/cuda/detail/uninitialized_copy.h
  thrust/system/cuda/detail/uninitialized_fill.h
  thrust/system/cuda/detail/util.h
Labels: P1: should have, testing: internal ci in progress, testing: gpuCI in progress

#1582 Fix 32-bit MSVC builds.
  thrust/system/cuda/memory_resource.h
Labels: P1: should have, testing: internal ci in progress, testing: gpuCI in progress
