Repository NVIDIA/thrust, pull requests merged in 2021-01, with the labels that each got.

#1370 A Christmas gift from @ogiroux: a better replacement for "sanity check"
  cmake/filecheck_confidence_test
  cmake/filecheck_smoke_test
  examples/CMakeLists.txt
  internal/test/thrust.confidence.filecheck
  internal/test/thrust.smoke.filecheck
  internal/test/thrust_nightly.pl
  testing/unittest/cuda/testframework.cu
  testing/unittest/cuda/testframework.h
  testing/unittest/testframework.cu
  testing/unittest/testframework.h
Labels: testing: dvs passed, testing: mc passed

#1373 Fix compilation error when a standard library type is wrapped in `thrust::optional`
  thrust/optional.h
Labels: testing: dvs passed, testing: mc passed

#1251 Add async scan algorithms
  cmake/ThrustHeaderTesting.cmake
  testing/CMakeLists.txt
  testing/async/CMakeLists.txt
  testing/async/exclusive_scan/counting_iterator.cu
  testing/async/exclusive_scan/discard_output.cu
  testing/async/exclusive_scan/large_indices.cu
  testing/async/exclusive_scan/large_types.cu
  testing/async/exclusive_scan/mixed_types.cu
  testing/async/exclusive_scan/mixin.h
  testing/async/exclusive_scan/simple.cu
  testing/async/exclusive_scan/stateful_operator.cu
  testing/async/exclusive_scan/using_vs_adl.cu
  testing/async/inclusive_scan/counting_iterator.cu
  testing/async/inclusive_scan/discard_output.cu
  testing/async/inclusive_scan/large_indices.cu
  testing/async/inclusive_scan/large_types.cu
  testing/async/inclusive_scan/mixed_types.cu
  testing/async/inclusive_scan/mixin.h
  testing/async/inclusive_scan/simple.cu
  testing/async/inclusive_scan/stateful_operator.cu
  testing/async/inclusive_scan/using_vs_adl.cu
  testing/async/mixin.h
  testing/async/test_policy_overloads.h
  testing/event.cu
  testing/future.cu
  testing/unittest/testframework.h
  testing/unittest/util_async.h
  thrust/async/scan.h
  thrust/detail/event_error.h
  thrust/future.h
  thrust/iterator/detail/iterator_traits.inl
  thrust/system/cuda/detail/async/exclusive_scan.h
  thrust/system/cuda/detail/async/inclusive_scan.h
  thrust/system/cuda/detail/async/scan.h
  thrust/system/cuda/detail/future.inl
  thrust/system/cuda/future.h
  thrust/system/detail/adl/async/scan.h
  thrust/system/detail/generic/scan.inl
Labels: testing: dvs passed, testing: mc passed

#1304 Use cub::DeviceScan to implement thrust scans on CUDA.
  thrust/system/cuda/detail/scan.h
Labels: testing: dvs passed, testing: mc passed

#1361 Mark CMake var as internal.
  thrust/cmake/thrust-config-version.cmake
Labels: cmake

#1355 Remove dead link and add Quick Start instructions to README.md.
  README.md
Labels: docs only
