Repository NVIDIA/thrust, pull requests merged in 2021-06, with the labels that each got.

#1447 fix memory leak in {host,device}_vector::reserve
  thrust/detail/vector_base.inl
Labels: testing: internal ci passed, testing: mc passed

#1444 Update arch list
  cmake/ThrustCudaConfig.cmake
Labels: only: cmake, only: gpuci, testing: mc passed

#1442 Reduce comparisons count in merge sort
  thrust/system/cuda/detail/sort.h
Labels: testing: internal ci passed, testing: mc passed

#1459 Update deprecation mechanism.
  cmake/ThrustBuildTargetList.cmake
  internal/build/common_build.mk
  thrust/cmake/thrust-config.cmake
  thrust/detail/config/deprecated.h
  thrust/iterator/detail/device_system_tag.h
  thrust/iterator/detail/host_system_tag.h
Labels: testing: gpuCI passed, testing: internal ci passed

#1465 Override CMake's COMPILE_FEATURES for nvcc edgecases.
  cmake/DetectSupportedStandards.cmake
Labels: only: cmake, testing: gpuCI passed

#1467 Update 1.13.0 changelog with a summary.
  CHANGELOG.md
Labels: only: docs
