Repository NVIDIA/thrust, pull requests merged in 2022-07, with the labels that each got.

#1752 Removed a HEAD INCOMING git conflict
  CODE_OF_CONDUCT.md
Labels: P2: nice to have, type: cleanup, area: docs

#1696 add tests for scan_by_key in-place execution
  testing/cuda/scan_by_key.cu
  testing/scan_by_key.exclusive.cu
  testing/scan_by_key.inclusive.cu
Labels: type: bug: functional, P1: should have

#1749 Remove usage of find_path to locate thrust/version.h
  thrust/cmake/thrust-header-search.cmake
Labels: type: bug: functional, P1: should have, only: cmake, testing: gpuCI in progress, helps: rapids, area: cmake

#1756 copy_if doesn't require copy assignment operator for OutputIterator
  thrust/system/cuda/detail/cdp_dispatch.h
  thrust/system/cuda/detail/copy_if.h
Labels: type: bug: functional, P1: should have, testing: internal ci in progress, backend: CUDA
