Repository NVIDIA/thrust, pull requests merged in 2022-01, with the labels that each got.

#1591 Workaround nvcxx compiler error.
  thrust/system/cuda/detail/extrema.h
Labels: P0: must have, testing: internal ci in progress, compiler: nvc++, testing: gpuCI in progress, bug: compiler

#1597 Add small check for header tests
  cmake/header_test.in
Labels: enhancement, P1: should have, testing: gpuCI in progress, only: gpuci, only: tests

#1600 Skip some test cases that are failing on gcc11.
  testing/partition.cu
Labels: P0: must have, testing: internal ci in progress, testing: gpuCI in progress, only: gpuci, bug: compiler, only: tests, compiler: gcc

#1496 Fix some minor issues impacting the Intel compiler.
  ci/common/build.bash
  testing/scan.cu
  thrust/detail/cstdint.h
Labels: bug: functional, P0: must have, testing: internal ci in progress, testing: gpuCI in progress, compiler: icc

#1603 Ensure that the same version of CUB is found.
  thrust/cmake/thrust-config.cmake
Labels: bug: functional, P0: must have, only: cmake, testing: gpuCI in progress, only: gpuci

#1566 Updated thrust shuffle to use improved bijective function
  internal/benchmark/bench.cu
  testing/shuffle.cu
  thrust/system/detail/generic/shuffle.inl
Labels: enhancement, P2: nice to have, testing: internal ci in progress, testing: gpuCI in progress

#1604 Extend the GCC 11.1 test waiver to all GCC 11.X.
  testing/partition.cu
Labels: nvbug, P0: must have, testing: internal ci in progress, testing: gpuCI in progress, bug: compiler, only: tests

#1602 Monitor memory usage during CI builds.
  ci/common/build.bash
  ci/common/memmon.py
  ci/common/memmon_config/procps/toprc
Labels: enhancement, P2: nice to have, testing: gpuCI in progress, only: gpuci
