Repository NVIDIA/thrust, pull requests merged in 2022-08, with the labels that each got.

#1719 Fix reduce intermediate type
  thrust/system/cuda/detail/reduce.h
Labels: type: enhancement, P1: should have

#1760 Emit diagnostics for device lambdas
  thrust/detail/type_traits.h
  thrust/detail/type_traits/result_of_adaptable_function.h
  thrust/iterator/detail/transform_input_output_iterator.inl
  thrust/optional.h
  thrust/system/cuda/detail/transform_scan.h
  thrust/system/detail/generic/transform_scan.inl
Labels: type: enhancement, P1: should have, release: breaking change

#1761 remove deprecated support for the THRUST_DEVICE_BACKEND macro
  thrust/detail/config/device_system.h
  thrust/detail/config/host_system.h
  thrust/memory.h
Labels: P2: nice to have, type: cleanup

#1772 Add clang-format
  .clang-format
Labels: only: docs, area: docs

#1776 Move sync from for_each to parallel_for to fix CDP usages [2.0.X backport]
  thrust/system/cuda/detail/fill.h
  thrust/system/cuda/detail/for_each.h
  thrust/system/cuda/detail/parallel_for.h
  thrust/system/cuda/detail/swap_ranges.h
  thrust/system/cuda/detail/tabulate.h
  thrust/system/cuda/detail/transform.h
  thrust/system/cuda/detail/uninitialized_copy.h
  thrust/system/cuda/detail/uninitialized_fill.h
Labels: type: bug: functional, P0: must have, backend: CUDA

#1775 Move sync from for_each to parallel_for to fix CDP usages [main]
  thrust/system/cuda/detail/fill.h
  thrust/system/cuda/detail/for_each.h
  thrust/system/cuda/detail/parallel_for.h
  thrust/system/cuda/detail/swap_ranges.h
  thrust/system/cuda/detail/tabulate.h
  thrust/system/cuda/detail/transform.h
  thrust/system/cuda/detail/uninitialized_copy.h
  thrust/system/cuda/detail/uninitialized_fill.h
Labels: type: bug: functional, P0: must have, backend: CUDA

#1781 Various CMake fixes for new build features
  cmake/ThrustBuildCompilerTargets.cmake
  cmake/ThrustBuildTargetList.cmake
  thrust/cmake/FindTBB.cmake
Labels: type: bug: functional, P0: must have, only: cmake

#1780 Various CMake fixes for new build features
  cmake/ThrustBuildCompilerTargets.cmake
  cmake/ThrustBuildTargetList.cmake
  thrust/cmake/FindTBB.cmake
Labels: type: bug: functional, P0: must have, only: cmake
